<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.db1.board.mapper.CommentMapper">
<select id="commentCount" resultType="int">
        SELECT
            COUNT(*)
        FROM COMMENT
    </select>
    
    <select id="commentList" resultType="com.db1.board.domain.Comment" parameterType="int">
        SELECT
            *
        FROM COMMENT 
        where boardid = #{boardid}
        ORDER BY id DESC
    </select>
    
    
    <insert id="commentInsert" parameterType="com.db1.board.domain.Comment">
        INSERT INTO
        COMMENT (ID, BOARDID, CONTENT, WRITER, DATE)
        VALUES(#{id},#{boardid},#{content},#{writer},now()) 
    </insert>
    
    <update id="commentUpdate" parameterType="com.db1.board.domain.Comment">
        UPDATE COMMENT
            SET
            CONTENT = #{content}
        WHERE ID = #{id}
    </update>
    
    <delete id="commentDelete" parameterType="int">
        DELETE FROM COMMENT WHERE ID = #{id}
    </delete>
    
    <select id="likeCount" parameterType="int" resultType="int">
    	select count(userName) FROM LIKEIT
    	where bno = #{bno}
    </select>
    
    <insert id="likeAdd" parameterType="com.db1.board.domain.Like">
    	INSERT INTO likeIT(bno,userName) values(#{param1},#{param2})
    </insert>
</mapper>

